<div class="w-full text-2xl font-bold text-center">
 <h1>	Search Bar ⬆
 </h1>
  <small>Try the following search terms</small>
  <ul>
    <li>cats</li>
    <li>dogs</li>
    <li>long</li>
  </ul>
</div>