<div class="relative z-10 px-12 my-2 w-full grow group focus:outline-none user-focus-item">
	<%# Tab index is used for focus behaviour %>
	<div tabindex="0" id="search-cont">
		<div id="progress-bar" ></div>
		<div class="flex w-full overflow-clip focus:outline-none">
			<input id="searchinput" type="text" placeholder="Search..." />
		</div>
	</div>

	<div id="searchresults">
		<ul id="hits"></ul>
	</div>
</div>